<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="WinFormsSdk" value=".\NuGet\BuildOut" />
  </packageSources>
  <disabledPackageSources />
  <packageSourceMapping>
    <packageSource key="WinFormsSdk">
      <package pattern="CustomControlLibrary.Package*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
